

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR_Generator</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="styleX.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5JH3YYQRBE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5JH3YYQRBE');
    </script>



</head>

<!-- Google tag (gtag.js) -->


<body >
<div class="background">

</div>


<div class="container">





    <div class="card mt-5"  >
        <div class="card-body" >

            <div class="text-center" >
                <h1 class="card-title" >QR Generator</h1>
            </div>



            <form action="/scan" method="POST" class="form">
                <div class="mb-3">
                    <div class="form-group" >
                        <label for="text" >Enter Text or Url:</label>
                        <input type="text" name="text" class="form-control" id="text" placeholder="Type here..." required>
                    </div>

                </div>

                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary" >Generate QR </button>
                </div>

            </form>
        </div>
    </div>

</div>


<footer class="Footer" align="center"><h7>
        <div class="footer-copywright">QR_Generator<a href="https://github.com/han-zyx">©HansakaTennakoon</a></div>
    </h7>
</footer>







<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
